<mat-card>
    <mat-action-list>
        <div mat-subheader>
            Menu
        </div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
        <!-- <button mat-list-item routerLink="/admin/">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button> -->
        
        <button mat-list-item routerLink="/admin/addProduct">
            <mat-icon mat-list-icon>add</mat-icon> Add New Product
        </button>
        <button mat-list-item routerLink="/admin/addCategory">
            <mat-icon mat-list-icon>add</mat-icon> Add Category
        </button>
        <button mat-list-item routerLink="/admin/addBrand">
            <mat-icon mat-list-icon>add</mat-icon> Add Brand
        </button>
        <button mat-list-item routerLink="/admin/addBanner">
            <mat-icon mat-list-icon>add</mat-icon> Add Banner
        </button>

        <button mat-list-item routerLink="/admin/editProduct">
            <mat-icon mat-list-icon>edit</mat-icon> Edit Product
        </button>
        
        <button mat-list-item routerLink="/admin/editCategory">
            <mat-icon mat-list-icon>edit</mat-icon> Edit Category
        </button>
        <button mat-list-item routerLink="/admin/editBrand">
            <mat-icon mat-list-icon>edit</mat-icon> Edit Brand
        </button>
        <button mat-list-item routerLink="/admin/editBanner">
            <mat-icon mat-list-icon>edit</mat-icon> Edit Banner
        </button>

        <!-- <button mat-list-item routerLink="/admin/discounts">
            <mat-icon mat-list-icon>download</mat-icon> Show Discounts
        </button>
        <button mat-list-item routerLink="/admin/downloadSalesReport">
            <mat-icon mat-list-icon>download</mat-icon> Sales Report
        </button> -->
        <button mat-list-item routerLink="/admin/chart">
            <mat-icon mat-list-icon>menu</mat-icon> Show Category graph

        </button>
        <button mat-list-item routerLink="/admin/brandSale">
            <mat-icon mat-list-icon>menu</mat-icon> Show Sales graph

        </button>
    </mat-action-list>



</mat-card>