<div class="container duration" >
    <h3>Within Some Interval</h3>
    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
          <input matEndDate placeholder="End date" [(ngModel)]="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    <br>
    <br>
    <button mat-raised-button (click)="showSales()" [disabled]="startDate==null && endDate==null">Show</button>
</div>


<table class="table table-hover" *ngIf="showTable">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">sales</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales">
        <td>{{ sale.id }}</td>
        <td>
            <a routerLink="/product/details/{{sale.id}}">
                <img src="{{sale.image}}" alt="" style="max-width: 50px" />
            </a> 
        </td>
        <td>{{sale.name}}</td>
        <td>{{ sale.price }}</td>
        <td>{{ sale.sales}}</td>
      </tr>
    </tbody>
  </table>