<app-header ></app-header>
<div id="productContainer">
    <div id="imageDiv">

        <img src={{product?.images?.image1}} alt="">
        <img src={{product?.images?.image2}} alt="">
        <img src={{product?.images?.image3}} alt="">
        <img src={{product?.images?.image4}} alt="">
        <img src={{product?.images?.image5}} alt="">
    </div>
    <div id="details">
        <h2>
            {{product.brand.name}}
        </h2>
        <h4>

            {{product?.name}}
        </h4>
        <h2>

            Rs. {{product.sizeAndQuantity[0]?.price}}
        </h2>
        <div style="display: flex; flex-direction:column;justify-content: center;">
            <h4>
                Size: {{product.sizeAndQuantity[0].size}}
                <!-- <br> -->
            </h4>
            <div>
                <button id="buynow" >Buy Now</button>
                <button id="cart" (click)="addToCart()">{{message}}</button>
            </div>
        </div>

    </div>

    
</div>