.products{
    width: 200px;
    margin: 20px;
}
img{
    width: 200px;
}
#productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}
h3{
    font-size: medium;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}
h5{
    font-size: small;
    font-weight: 300;
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}
